<div [class.dark-theme]="isDarkTheme">
	<app-topbar></app-topbar>
	<mat-sidenav-container>
		<mat-sidenav #confNav [mode]="getMode()" position="end">
			<app-settings></app-settings>
		</mat-sidenav>
		<mat-sidenav-content>
			<div *ngIf="isMobile" [class.dark-theme]="isDarkTheme">
				<div class="content-wrapper mobile" [class.dark-theme]="isDarkTheme">
					<ng-container *ngTemplateOutlet="content"></ng-container>
				</div>
				<mat-toolbar [color]="themeColor">
					<ng-template *ngTemplateOutlet="linkSection; context: {$implicit: 'bottombar'} "></ng-template>
				</mat-toolbar>
			</div>
			<div *ngIf="!isMobile" [class.dark-theme]="isDarkTheme">
				<mat-sidenav-container class="sidenav-container">
					<mat-sidenav #snav [opened]="true" mode="side">
						<mat-nav-list>
							<ng-template *ngTemplateOutlet="linkSection; context: {$implicit: 'sidenav'}"></ng-template>
						</mat-nav-list>
					</mat-sidenav>

					<mat-sidenav-content class="content-wrapper">
						<ng-container *ngTemplateOutlet="content"></ng-container>
					</mat-sidenav-content>
				</mat-sidenav-container>
			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
<ng-template #content>
	<ng-content></ng-content>
</ng-template>

<ng-template #linkSection let-type>
	<ng-container *ngFor="let section of sections">
		<ng-container *ngFor="let link of section.children">
			<ng-container *ngIf="!link.pages">
				<a class="subnav" (click)="navigate(link)" mat-list-item [ngClass]="{ 'active': isActive(link) }">
					<button *ngIf="link.icon" mat-icon-button matTooltip="{{link.title}}">
						<mat-icon>{{ link.icon }}</mat-icon>
					</button>
					<ng-container *ngIf="type === 'sidenav'">
						<span>{{ link.title }}</span>
					</ng-container>
				</a>

			</ng-container>
			<ng-container *ngIf="link.pages">
				<a mat-list-item class="subnav" [ngClass]="{ 'expanded': link.expanded }"
					(click)="link.expanded = !link.expanded">
					<button *ngIf="link.icon" mat-icon-button matTooltip="{{link.title}}">
						<mat-icon>{{ link.icon }}</mat-icon>
					</button>
					<ng-container *ngIf="type === 'sidenav'">
						<span>{{ link.title }}</span>
					</ng-container>
					<mat-icon class="nav-dropdown-icon" [class.expanded]="link.expanded">keyboard_arrow_down</mat-icon>
				</a>
				<div class="pages-links" [@collapsible]="link.expanded ? 'expanded' : 'collapsed'">
					<a *ngFor="let page of link.pages" class="subnav" (click)="navigate(page)" mat-list-item
						[ngClass]="{ 'active': isActive(page) }">
						<button *ngIf="page.icon" mat-icon-button matTooltip="{{page.title}}">
							<mat-icon>{{ page.icon }}</mat-icon>
						</button>
						<ng-container *ngIf="type === 'sidenav'">
							<span>{{ page.title }}</span>
						</ng-container>
					</a>
				</div>
			</ng-container>
		</ng-container>
	</ng-container>
</ng-template>