
.sidenav-container {
	height: calc(100vh - 64px);
	.mat-sidenav {
		padding: 8px;
		min-width: 300px;
	}
}

.content-wrapper {
	min-height: calc(100vh - 64px);
	&.mobile {
		min-height: calc(100vh - 112px);
	}
}

.mat-icon-no-color {
	color: rbga(0, 0, 0, 0.54);
}

mat-toolbar{
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

