@mixin custom-components-theme($theme) {
    // Parse the theme and create variables for each color in the pallete
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    // Create theme specfic styles
    .primaryColorBG {
        background-color: mat-color($primary);
        color: white;
    }
    .accentColorBG {
        background-color: mat-color($accent);
        color: white;
    }
    .warnColorBG {
        background-color: mat-color($warn);
        color: white;
    }
}
