@import "@angular/material/theming";
// 1. Default theme
$custom-primary: (
  50: #f7e8e8,
  100: #ecc7c6,
  200: #dfa1a1,
  300: #d27b7b,
  400: #c95f5e,
  500: #bf4342,
  600: #b93d3c,
  700: #b13433,
  800: #a92c2b,
  900: #9b1e1d,
  A100: #ffd4d4,
  A200: #ffa1a1,
  A400: #ff6e6e,
  A700: #ff5555,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$custom-accent: (
  50: #efecef,
  100: #d7cfd7,
  200: #bdafbd,
  300: #a38ea3,
  400: #8f768f,
  500: #7b5e7b,
  600: #735673,
  700: #684c68,
  800: #5e425e,
  900: #4b314b,
  A100: #ff9cff,
  A200: #ff69ff,
  A400: #ff36ff,
  A700: #ff1cff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$custom-primary-dark: (
  50: #f4f1f0,
  100: #e5dcd9,
  200: #d3c5bf,
  300: #c1ada5,
  400: #b49c92,
  500: #a78a7f,
  600: #9f8277,
  700: #96776c,
  800: #8c6d62,
  900: #7c5a4f,
  A100: #ffe6df,
  A200: #ffc0ac,
  A400: #ff9979,
  A700: #ff855f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$custom-accent-dark: (
  50: #f9eff4,
  100: #f0d6e3,
  200: #e6bbd0,
  300: #db9fbd,
  400: #d48baf,
  500: #cc76a1,
  600: #c76e99,
  700: #c0638f,
  800: #b95985,
  900: #ad4674,
  A100: #ffffff,
  A200: #ffd2e5,
  A400: #ff9fc8,
  A700: #ff85ba,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
