@import "~@angular/material/theming";

@include mat-core();

@import "./theme.scss";

@import "./custom-component-themes.scss";

@import "./loading.scss";

@include angular-material-theme($theming-material-components-theme);
@include custom-components-theme($theming-material-components-theme);

.dark-theme {
	@include angular-material-color($dark-theme);
	@include custom-components-theme($dark-theme);
}

@include angular-material-typography($typography);

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		"Helvetica Neue", sans-serif;
}

.w-100 {
	width: 100%;
}

.pointer {
	cursor: pointer;
}

.form-error-message {
	font-size: 12px;
	color: red;
}
