@use '~@angular/material' as mat;

@import url("https://fonts.googleapis.com/css?family=Varela:wght@300;400;500&display=swap");

// 1. Default theme
$theming-material-components-primary: mat.define-palette(mat.$blue-palette);
$theming-material-components-accent: mat.define-palette(mat.$red-palette);
$theming-material-components-warn: mat.define-palette(mat.$green-palette);

$theming-material-components-theme: mat.define-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);

// 2. Alternate dark theme.
$dark-primary: mat.define-palette(mat.$deep-purple-palette);
$dark-accent: mat.define-palette(mat.$deep-orange-palette);
$dark-warn: mat.define-palette(mat.$blue-grey-palette);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);

// 3. Custom heading typography config
$heading-font-family: "'Poppins'";
$typography: mat.define-typography-config(
  $display-4: mat.define-typography-level(112px, $font-family: $heading-font-family),
  $display-3: mat.define-typography-level(56px, $font-family: $heading-font-family),
  $display-2: mat.define-typography-level(45px, $font-family: $heading-font-family),
  $display-1: mat.define-typography-level(34px, $font-family: $heading-font-family),
  $headline: mat.define-typography-level(24px, $font-family: $heading-font-family),
  $title: mat.define-typography-level(20px, $font-family: $heading-font-family),
);