<mat-toolbar [color]="themeColor">
	<ng-container *ngIf="!isMobile; else profileTemplate">
		<button type="button" class="menu-toggle" mat-button tabindex="-1" (click)="toggleSidenav()">
			<mat-icon>menu</mat-icon>
			<span *ngIf="!isMobile">{{ page }}</span>
		</button>
	</ng-container>
	<span class="sidenav-spacer"></span>
	<mat-list class="p0">
		<div class="logo-container" mat-list-item>
			{{isMobile ? ' ' : 'NG - Starter'}}
		</div>
	</mat-list>
	<span class="sidenav-spacer"></span>
	<ng-container *ngIf="!isMobile">
		<button mat-icon-button (click)="goToProfile()" matTooltip="Abrir perfil">
			<mat-icon>
				face
			</mat-icon>
		</button>
	</ng-container>
	<button mat-icon-button (click)="toggleConfNav()" matTooltip="Abrir configuracion">
		<mat-icon>
			settings
		</mat-icon>
	</button>

	<button mat-icon-button (click)="logout()" matTooltip="Salir">
		<mat-icon>
			exit_to_app
		</mat-icon>
	</button>
</mat-toolbar>

<ng-template #profileTemplate>
	<button mat-button (click)="goToProfile()" matTooltip="Abrir perfil">
		{{user.name}}
	</button>
</ng-template>