@import "custom-component-themes.scss";

.login-wrapper {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 1;
	&-inside {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		max-width: 700px;
	}
}

.login-container {
	max-width: 700px;
	border-radius: 0px;
	overflow: hidden;
	padding: 55px 55px 37px 55px;
	&.mobile {
		padding: 0;
		max-width: 100%;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
}
.icon {
	font-size: 36px !important;
}

mat-card-content {
	display: flex;
	flex-direction: column;
	& > .title {
		text-align: center;
	}
}

form {
	display: flex;
	flex-direction: column;
}

.title {
	max-width: 700px;
}
.title-header {
	margin: 0;
	padding: 1em;
	display: flex;
	color: white;
	justify-content: center;
}
div.alert {
	display: flex;
	align-items: center;
	& > a {
		margin-left: 0.3em;
	}
}

.column {
	flex-direction: column;
	align-items: flex-start;
}

.slowNetwork {
	align-items: center;
	display: flex;
	justify-content: center;
}
section.action {
	display: flex;
	justify-content: center;
}
.login {
	width: auto;
	max-width: 250px;
	display: flex;
	justify-content: center;
}
.loginForm {
	width: 80%;
}
.logo-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	> .title {
		padding-top: 0.5em;
		text-align: center;
	}
	> img.logo {
		width: 50px;
		height: auto;
	}
}
