<ng-container *ngIf="!isMobile; else mobileTemplate">
	<section class="login-wrapper" [ngClass]="{ mobile: isMobile }" [ngStyle]="getBackground()">
		<section class="login-wrapper-inside">
			<div class="title">
				<h2 class="title-header" [class.dark-theme]="isDarkTheme" [ngClass]="themeColorClass">Ingreso al sistema
				</h2>
			</div>
			<mat-card class="login-container" [ngClass]="{ mobile: isMobile }">
				<mat-card-content>
					<ng-template *ngTemplateOutlet="formTemplate"></ng-template>
				</mat-card-content>
			</mat-card>
		</section>
	</section>
</ng-container>
<ng-template #mobileTemplate>
	<section class="login-wrapper mobile" [ngStyle]="getBackground()">
		<section class="logo-wrapper mobile">
			<img src="assets/img/login/logo.png" class="logo" alt="Logo" />
			<h2 class="title">Ingreso</h2>
		</section>
		<ng-template *ngTemplateOutlet="formTemplate"></ng-template>
	</section>
</ng-template>

<ng-template #formTemplate>
	<form [formGroup]="loginForm" [ngClass]="{ loginForm: isMobile }">
		<mat-form-field class="w-100">
			<mat-label>Email</mat-label>
			<input autofocus name="user" matInput formControlName="username" (keyup.enter)="login()" />
			<mat-icon matPrefix>person</mat-icon>
		</mat-form-field>
		<p *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)"
			class="form-error-message">
			Debe ingresar un email valido</p>
		<mat-form-field class="w-100">
			<mat-label>Contraseña</mat-label>
			<mat-icon matPrefix>lock</mat-icon>
			<input #password matInput formControlName="password" name="password"
				[type]="!showPass ? 'password' : 'text'" (keyup.enter)="login()" />
			<mat-icon class="action" matSuffix (click)="showPass = !showPass">{{
				!showPass ? "visibility_off" : "visibility"
				}}</mat-icon>
		</mat-form-field>
		<p *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
			class="form-error-message">
			Debe ingresar una contraseña</p>
		<ng-container *ngIf="loading && slowNetwork">
			<div class="alert column">
				<span class="slowNetwork">
					<mat-icon class="small info" matPrefix>warning</mat-icon> Esto esta tomando mas de
					lo que
					deberia...
				</span>
				<span> Intentelo nuevamente en un momento </span>
			</div>
		</ng-container>
		<ng-container *ngIf="noConection">
			<div class="alert column">
				<span class="slowNetwork">
					<mat-icon class="small info" matPrefix>signal_cellular_nodata</mat-icon>Estas sin
					conexion
				</span>
				<span> Recupere su conexion a internet e Intentelo nuevamente en un momento </span>
			</div>
		</ng-container>
	</form>
	<button mat-raised-button [class.dark-theme]="isDarkTheme" [ngClass]="themeColorClass" type="submit"
		(keyup.enter)="login()" (click)="login()" [disabled]="loginDisabled()" class="w-100">
		Ingresar
	</button>
</ng-template>